<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">
      <img src="/images/profile.JPG" />
  </div>
  <div class="sidebar-item" style="text-align: center">
    <p>{{ site.description }}</p>
  </div>
  <div id="contact-list" style="text-align:center">

      {% if site.author.linkedin %}
        <a href="https://linkedin.com/in/{{ site.author.github }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a>
      {% endif %}
      {% if site.author.google_scholar %}
        <a href="{{ site.author.google_scholar }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-google fa-stack-1x"></i>
          </span>
        </a>
      {% endif %}
      {% if site.author.twitter %}
        <a href="https://twitter.com/{{ site.author.twitter }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      {% endif %}
  </div>

  <div id="contact-list" style="text-align:center">

    {% if site.author.orcid %}
      <a href="{{ site.author.orcid }}">
        <span class="fa-stack fa-lg">
          <img src="https://orcid.org/sites/default/files/images/orcid_32x32.png" width="32" height="32" />
        </span>
      </a>
    {% endif %}
    {% if site.author.research_gate %}
      <a href="{{ site.author.research_gate }}">
        <span class="fa-stack fa-lg">
          <img src="/images/RG_square_green.jpg" />
        </span>
      </a>
    {% endif %}

  </div>




  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endcomment %}

        <a class="sidebar-nav-item" href="/research.html">Research</a>
        <a class="sidebar-nav-item" href="/publications.html">Publications</a>
        <a class="sidebar-nav-item" href="files/Saima_shahid_CV_032019.pdf">CV</a>

  </nav>

  <div class="sidebar-item">

  </div>
</div>
